# Node modules (React later)
node_modules/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build folders (React)
build/
dist/

# VS Code settings
.vscode/

# Package lock (optional)
package-lock.json
yarn.lock